
[submodule "ejem-1-github-actions"]
	path = ejem-1-github-actions
	url = https://github.com/MasterCloudApps/4.3.Integracion-y-entrega-continua-ejem-1.git
[submodule "ejem-2-github-actions"]
	path = ejem-2-github-actions
	url = https://github.com/MasterCloudApps/4.3.Integracion-y-entrega-continua-ejem-2.git
[submodule "ejem-3-github-actions"]
	path = ejem-3-github-actions
	url = https://github.com/MasterCloudApps/4.3.Integracion-y-entrega-continua-ejem-3.git
